<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

      <form action="/" method="get" class="form-inline mb-3">

        <div class="input-group w-100">

          <input id="search" type="text" name="q" class="form-control" placeholder="Find a thread or #tag!" value="<%= @search %>">

          <div class="input-group-append">

            <button type="submit" class="input-group-text"><i class="fas fa-search" aria-label="Search"></i></button>

          </div>

        </div>

      </form>

      <ul class="list-group list-group-flush">

        <% @posts.each do |post| %>

          <li class="list-group-item">

            <h5 class="mt-3 mb-0 merriweather"><a href="/thread/<%= post.slug %>" class="text-dark"><%= post.title %></a></h5>

            <p class="small text-muted"><%= post.created_at.strftime("%b %d %l:%M %P") %></p>

            <p class="text-muted"><%= post.body ? strip_tags(post.body)[0...100] + '...' : '' %></p>

            <p class="m-0 small text-monospace">
              <% post.tags.each do |tag| %>
                <a href="/?q=<%= '%23' + tag.name %>" class="mr-2 text-black-50"><%= '#' + tag.name %></a>
              <% end %>
            </p>

          </li>

        <% end %>

      </ul>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <div class="p-3 p-md-0">

        <h4 class="mt-2 text-muted">Popular Tags</h4>

        <div>

          <% @popularTags.each do |tag| %>

            <a href="/?q=<%= '%23' + tag.name %>" class="badge badge-pill text-muted"><%= '#' + tag.name + ' - ' + tag.tag_count.to_s %></a>

          <% end %>

        </div>

      </div>

    </div>

  </div>

  <%= will_paginate @posts %>

</div>

