<div class="container">

  <%= form_tag("/thread") do %>

    <div class="form-group">

      <label for="title">Title</label>

      <input id="title" name="post[title]" type="text" class="form-control" value="<%= @post.title %>" />

      <div class="invalid-feedback d-block">

        <% if @post.errors.include?(:title) %>

          <% @post.errors[:title].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <div class="form-group">

      <label for="body">Body</label>

      <input id="thread_body" type="hidden" name="post[body]" value="<%= @post.body %>">
      <trix-editor input="thread_body"></trix-editor>

      <div class="invalid-feedback d-block">

        <% if @post.errors.include?(:body) %>

          <% @post.errors[:body].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <div class="form-group">

      <label class="sr-only" for="new_topic">Topics</label>

      <div class="input-group mb-2">

        <input type="text" class="form-control" id="new_topic" placeholder="Add a topic...">

        <div class="input-group-append">

          <button id="add_new_topic" type="button" class="btn btn-primary input-group-text">Add</button>

        </div>

      </div>

      <div id="topics"></div>

      <div class="invalid-feedback d-block">

        <% if @post.errors.include?(:topics) %>

          <% @post.errors[:topics].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  <% end %>

</div>
