<div class="container">

  <%= form_tag(post_create_path) do %>

    <div class="form-group">

      <label for="title">Title</label>

      <input id="title" name="post[title]" type="text" class="form-control" value="<%= @post.title %>" />

      <div class="invalid-feedback d-block">

        <% if flash[:post_errors] and flash[:post_errors].key?('title') %>

          <% flash[:post_errors]['title'].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <div class="form-group">

      <label for="body">Body</label>

      <input id="thread_body" type="hidden" name="post[body]" value="<%= @post.body %>">

      <trix-editor input="thread_body"></trix-editor>

      <div class="invalid-feedback d-block">

        <% if flash[:post_errors] and flash[:post_errors].key?('body') %>

          <% flash[:post_errors]['body'].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <div class="form-group">

      <label class="sr-only" for="new_tag">Tags</label>

      <div class="input-group mb-2">

        <input type="text" class="form-control" id="new_tag" placeholder="Add a tag...">

        <div class="input-group-append">

          <button id="add_new_tag" type="button" class="btn btn-primary input-group-text">Add</button>

        </div>

      </div>

      <div id="tags"></div>

      <div class="invalid-feedback d-block">

        <% if @post.errors.include?(:tags) %>

          <% @post.errors[:tags].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

      <div class="form-group">

        <span class="mr-2">Has Replies?</span>

        <div class="form-check form-check-inline">

          <input class="form-check-input" type="radio" name="post[has_replies]" id="has_replies_yes" value="true" <%= @post.has_replies ? "checked" : "" %>>

          <label class="form-check-label" for="has_replies_yes">Yes</label>

        </div>

        <div class="form-check form-check-inline">

          <input class="form-check-input" type="radio" name="post[has_replies]" id="has_replies_no" value="false">

          <label class="form-check-label" for="has_replies_no">No</label>

        </div>

      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  <% end %>

</div>
