<div id="reply" class="mt-4">

  <%= form_tag("/thread/#{@post.slug}/reply") do %>

    <div id="reply_body_container" class="form-group">

      <p class="m-0 small text-muted">Leave a reply...</p>
      <p id="reply_body" data-reply-suggestion-url="<%= reply_suggestion_index_path(@post.slug) %>" class="pt-1 pl-2 pb-1 pr-2 m-0 border rounded" style="background-color: white; min-height: 60px; outline: none;" contenteditable></p>
      <input type="hidden" name="body" />
      <!-- <textarea id="reply_body" name="body" class="form-control border-0" placeholder="Leave a reply..." data-reply-suggestion-url="<%= reply_suggestion_index_path(@post.slug) %>"></textarea> -->

      <div class="invalid-feedback d-block m-0">

        <% if flash[:reply_errors] %>

          <% flash[:reply_errors].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <div class="d-flex justify-content-end">

      <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>

    </div>

  <% end %>

</div>

<div id="replies" class="mt-4">

  <% if @post.replies.length > 0 %>

    <p class="mb-1 text-muted">Replies</p>

    <ul class="list-group list-group-flush">

      <% @post.replies.each do |reply| %>

        <li class="list-group-item">

          <div class="row small text-muted mb-3">

            <div class="col">

              <a id="<%= reply.slug %>" href="<%= '#' + reply.slug %>" class="mt-0 mb-3 text-monospace"><%= '@' + reply.slug %></a>

            </div>

            <div class="col text-right">

              <span><%= reply.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %-d, %l:%M %P %Z") %></span>

            </div>

          </div>

          <p class="mb-2 pre-wrap"><%= reply.body %></p>

          <p id="reply_actions" class="m-0">

            <button
              type="button"
              class="upvote btn pl-2 pr-2 light-grey"
              data-url="<%= "/thread/#{@post.slug}/reply/#{reply.id}/upvote" %>">
              <i class="fas fa-thumbs-up"></i><span class="vote-count ml-3"><%= reply.upvote_count %></span>
            </button>

            <button
              type="button"
              class="downvote btn pl-2 pr-2 light-grey"
              data-url="<%= "/thread/#{@post.slug}/reply/#{reply.id}/downvote" %>">
              <i class="fas fa-thumbs-down"></i><span class="vote-count ml-3"><%= reply.downvote_count %></span>
            </button>

            <button
              type="button"
              class="reply btn pl-2 pr-2 light-grey"
              data-reply-slug="<%= reply.slug %>">
              <i class="fas fa-reply"></i>
            </button>

          </p>

        </li>

      <% end %>

    </ul>

  <% else %>

    <h4 class="merriweather text-center">No replies</h4>

  <% end %>

</div>
