<!DOCTYPE html>
<html>
  <head>
    <title>AnonForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
