<!DOCTYPE html>
<html>
  <head>
    <title>AnonForum</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">

      <h1 class="navbar-brand mb-0"><a href="/">#anonforum</a></h1>

      <div>

        <form action="/" method="get" class="form-inline my-2 my-lg-0 ml-auto">

          <div class="input-group">

            <input id="search" type="text" name="q" class="form-control" placeholder="Find a thread or #tag!">

            <div class="input-group-append">

              <button type="submit" class="input-group-text"><i class="fas fa-search" aria-label="Search"></i></button>

            </div>

          </div>

        </form>

      </div>

    </nav>

    <%= yield %>

    <footer class="mt-5 mb-5 pl-2 pr-2">

      <p class="text-center">From your friendly community developer</p>

      <p class="text-center">Patrique Ouimet</p>

      <p class="text-center">

        <a class="mr-5" href="https://twitter.com/patoui2" target="_blank"><i class="fab fa-2x fa-twitter"></i></a>

        <a class="mr-5" href="https://github.com/patoui" target="_blank"><i class="fab fa-2x fa-github"></i></a>

        <a href="https://www.instagram.com/patoui2" target="_blank"><i class="fab fa-2x fa-instagram"></i></a>

      </p>

    </footer>

  </body>

</html>
